#root {

}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* 모든 브라우저에서 스크롤바 숨기기 */
.scrollbar-hide {
  /* IE, Edge */
  -ms-overflow-style: none;
  /* Firefox */
  scrollbar-width: none;
}

/* Chrome, Safari, Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* 1. 화살표(Buttons) 완전 제거 */
.custom-scroll::-webkit-scrollbar-button {
  display: none !important;
  width: 0;
  height: 0;
}

/* 2. 스크롤바 전체 스타일 */
.custom-scroll::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.custom-scroll::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scroll::-webkit-scrollbar-thumb {
  background: rgba(255, 0, 0, 0);
  border-radius: 10px;
  
}

/* 3. 마우스를 올렸을 때(스크롤 영역 활성화 시)만 보이게 함 */
.custom-scroll:hover::-webkit-scrollbar-thumb {
  transition: opacity 1s ease-in-out;
  background-color: rgba(63, 63, 63, 0.4); /* 마우스 올리면 40% 투명도로 노출 */
}


/* SimpleBar 스크롤바 핸들(thumb) 스타일 */
.simplebar-scrollbar::before {
  background-color: rgba(63, 63, 63, 0.4) !important; /* 색상 지정 */
  opacity: 0; /* 평소엔 숨김 */
  transition: opacity 1s ease-in-out !important; /* 1초 동안 부드럽게 나타남 */
}

/* 마우스를 올렸을 때(hover) 스크롤바 노출 */
.group:hover .simplebar-scrollbar::before {
  opacity: 1;
}

/* 스크롤 중일 때도 노출 유지 */
.simplebar-track.simplebar-vertical .simplebar-scrollbar.simplebar-visible::before {
  opacity: 1;
  transition: opacity 0s !important; /* 스크롤 중에는 즉시 노출 */
}